<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDC Manage Student</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/stu.css">
</head>
<body>
    <div class="details">
        <div class="studentList">
            <div class = "cardHeader">
                <h2>Students List</h2>
                <a href="#" class="btn">View All</a> 
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Student Name</td>
                        <td>Registration No</td>
                        <td>Email</td>
                        <td>Index no</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Hamsayini</td>
                        <td>2021/IS/033</td>
                        <td>hamsa@gmail.com</td>
                        <td>21020337</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Nufdha</td>
                        <td>2021/IS/069</td>
                        <td>nufdha@gmail.com</td>
                        <td>21020687</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Shamah</td>
                        <td>2021/IS/051</td>
                        <td>shama@gmail.com</td>
                        <td>21020512</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Hamsayini</td>
                        <td>2021/IS/033</td>
                        <td>hamsa@gmail.com</td>
                        <td>21020337</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Nufdha</td>
                        <td>2021/IS/069</td>
                        <td>nufdha@gmail.com</td>
                        <td>21020687</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Shamah</td>
                        <td>2021/IS/051</td>
                        <td>shama@gmail.com</td>
                        <td>21020512</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Nufdha</td>
                        <td>2021/IS/069</td>
                        <td>nufdha@gmail.com</td>
                        <td>21020687</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Gawesh</td>
                        <td>2021/IS/045</td>
                        <td>gawesh@gmail.com</td>
                        <td>21020451</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Hamsayini</td>
                        <td>2021/IS/033</td>
                        <td>hamsa@gmail.com</td>
                        <td>21020337</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                    <tr>
                        <td>Gawesh</td>
                        <td>2021/IS/045</td>
                        <td>gawesh@gmail.com</td>
                        <td>21020451</td>
                        <td><a href="#" span class = "view"></span>View</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>